## ignore xTIMEcomposer(ecipse) files
.metadata/
.settings/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
._*

## build files and bins
.build_Debug/
.build_Release/
bin/

## XSCOPE output
*.xmt

## ignore KDE files
.directory
/.settings/org.eclipse.cdt.core.prefs

## ignore doxygen outputs
.dox/gen

## ignore xdoc outputs
_build/
run_xdoc.log
/examples/app_demo_advanced_foc/decompressor-373412a9
/examples/app_demo_advanced_foc/decompressor-9063d9a4
/examples/app_demo_advanced_foc/spanning-xn-v0-b7665001
/examples/app_demo_advanced_foc/target-xn-v0-64bbd1f6
