## ignore xTIMEcomposer(ecipse) files
.metadata/
.settings/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
._*

## build files and bins
.build_Debug/
.build_Release/
bin/

## XSCOPE output
*.xmt

## ignore KDE files
.directory
/.settings/org.eclipse.cdt.core.prefs

## ignore doxygen outputs
.dox/gen

## ignore xdoc outputs
_build/
run_xdoc.log
